.chessBoard {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: 7px solid black;
  ;

}

.square {
  width: 73px;
  height: 73px;

  float: left;
  border: 1px solid black;
  text-align: center;
  font-size: 60px;
}

.White {
  background-color: #fff;
  
}
.Black {
  background-color: #e69769 ;
}